
#T0V0T {
    color:aqua;
    border-color:red;
    border-radius: 5px;

}

img {
    max-width: 100%;
    max-height: 100%;
}

#kirra {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

html {
    background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    background-size: cover;
}